<div class="row"> 
    <div class="col-md-12"> 
        <h1>Add Employee</h1>
        <hr /> 
        <form method="post" action="/employees/add"> 
            <fieldset> 
                <legend>Personal Information</legend> 
                <div class="row"> 
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="firstName">First Name:</label> 
                            <input class="form-control" id="firstName" name="firstName" type="text" /> 
                        </div> 
                    </div> 
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="last_name">Last Name:</label> <input class="form-control" id="last_name" name="last_name" type="text" /> 
                        </div> 
                    </div> 
                    <br>
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="email">Email:</label> <input class="form-control" id="email" name="email" type="email" /> 
                        </div> 
                    </div>  
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="ssn">Social Security Num:</label> <input class="form-control" id="ssn" name="SSN" type="text" /> 
                        </div> 
                    </div> 
                    <br>
                    <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label for="street">Address (Street):</label> <input class="form-control" id="street" name="addressStreet" type="text" /> 
                        </div> 
                    </div> 
                    <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label for="city">Address (City):</label> <input class="form-control" id="city" name="addresCity" type="text" /> 
                        </div> 
                    </div> <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label for="state">Address (State):</label> <input class="form-control" id="state" name="addressState" type="text" /> 
                        </div> 
                    </div> 
                    <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label for="zipcode">Address (Zip Code):</label> <input class="form-control" id="zipcode" name="addressPostal" type="text" /> 
                        </div> 
                    </div> 
                </div> 
                
                <legend>Company&nbsp;Information</legend>
                <div class="row"> 
                    <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label for="manager">Manager:</label> 
                            <input class="form-control" id="manager" name="isManager" type="checkbox" /> 
                        </div> 
                    </div>
                    <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label for="managerNo">Employee's Manager Number:</label> 
                            <input class="form-control" id="managerNo" name="employeeManagerNum" type="text" /> 
                        </div> 
                    </div>
                    <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label>Status:</label> 
                            <input value="Full Time" name="status" type="radio" >Full Time&nbsp;&nbsp;
                            <input value="Part Time" name="status" type="radio" >Part Time
                        </div> 
                    </div>
                    <div class="col-md-3"> 
                        <div class="form-group"> 
                            <label for="department">Department Type:</label> 
                                {{#if departments}}
                                <select class="form-control" name="department" id="department">
                                    {{#each departments}}
                                <option value="{{departmentId}}">{{departmentName}}</option>
                                    {{/each}}
                                </select>
                                {{else}}
                                <div>No Departments</div>
                                {{/if}}                            
                        </div> 
                    </div>
                    <br>
                    <div class="col-md-12">
                        <div class="form-group"> 
                            <label for="hireDate">Hire Date:</label> 
                            <input class="form-control" id="hireDate" name="hireDate" type="text" /> 
                        </div> 
                    </div>
                </div>
            </fieldset> 
            <hr /> 
            <input type="submit" class="btn btn-primary pull-right" value="Add Employee" /><br /><br /><br /> 
        </form> 
    </div> 
</div>
